    /* MAIN HTML STYLES */
:root{
    --main: #ffffff;
    --bg: #292929;
    --card: #ffffff;
    --muted: #64748b;
    --max-width: 600px;
}
p{
    font-size: 4rem;
}
html {
  scrollbar-width: thin;
  background-color: var(--bg);
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
img {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
body {
    margin: 0px 0px 0px 0px;
}

.content{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.reveal{
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.reveal.revealed{
  opacity: 1;
  transform: translateY(0);
}
.revealImg{
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s cubic-bezier(.17,.67,.38,.91), transform 0.5s cubic-bezier(.17,.67,.38,.91);
}
.revealImg.revealedImg{
  opacity: 1;
  transform: translateY(0);
}
.revealImg2{
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.5s cubic-bezier(.17, .67, .38, .91), transform 0.5s cubic-bezier(.17, .67, .38, .91);
}
.revealImg2.revealedImg2{
  opacity: 1;
  transform: translateY(0);
}

    /* HEADER STYLES */
#main-header{
  transform: translateY(-100px);
  transition: transform 0.4s cubic-bezier(.44,.01,.12,.99);
}
#main-header.show{
  transform: translateY(0);
}
.header{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  top: 30px;
  gap: .5rem;
  z-index: 2;
  color: white;
}
.header .headerCenter,
.header .headerRight {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  background: var(--bg);
  border-radius: 20px;
  white-space: nowrap;
}
.header .headerCenter{
  padding: .8rem 1.2rem;
  gap: 30rem;
}
@media (max-width: 1400px) {
  .header .headerCenter{
  padding: .8rem 1.2rem;
  gap: 20rem;
  }
}
.header .headerCenter h2 {
  font-size: 1rem;
  margin: 0;
}
.header .headerCenter h1 {
  font-size: 1.25rem;
  margin: 0;
}
.header .headerCenter div{
}
.header .headerRight{
  padding: 1rem 1rem;
  cursor: pointer;
}

.headerUpArrow {
  width: 24px;
  height: 24px;
  fill: white;
}
#upArrow{
  transition: 0.1s ease;
}
#upArrow.arrowClicked{
  transform: translateY(-10px);
}
    /* LANDING IMG GRID STYLES */
.hero-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow: hidden;
}

.hero-item {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.hero-item:hover img {
  transform: scale(1.05);
}

/* Overlay text */
.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}

.overlay h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
/* BUTTON ANIMATIONS */

.btn {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  border: 2px solid white;
  color: white;
  background: transparent;
  text-decoration: none;
  font-weight: 500;
  border-radius: 10px;
  overflow: hidden;
  transition: color 0.3s ease;
  z-index: 0; /* create a stacking context */
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: white;
  z-index: -1; /* put it behind the text */
  transition: width 0.5s cubic-bezier(.46,.24,.12,1.01);
}

.btn:hover::before {
  width: 100%;
}

.btn:hover {
  color: black;
  cursor: pointer;
}
main{
  background-image: url("images/blackBlueMaroonVertical.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top left;
}
.imgBg{
    backdrop-filter: blur(80px) saturate(180%);
  -webkit-backdrop-filter: blur(80px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
}
    /* COLUMN TEMPLATE */
.bodyColumn{
  display: flex;
  flex-direction: row;
}

    /* FIRST COLUMN */
.bodyColumn.column0{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding-top: 14rem;
  width: 100%;
  gap: 2rem;
}
.sponsors {
  position: relative;
  background: transparent;
  text-align: center;
  width: 900px;
  margin: 0 auto 0 auto;
  top: 100px;
  font-size: 3rem;
  color: white;
}

.bodyColumn card{
  background: var(--bg);
  background: transparent;
  border-radius: 40px;
  aspect-ratio: 2 / 3;
  width: 26%;
  height: auto;
  z-index: 1;
  position: relative;
}
.bodyColumn .cardLink{
  position: absolute;
  left: -18px;
  top: -18px;
  background-color: var(--bg);
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  z-index: 100;
  cursor: pointer;
  transition: 0.1s cubic-bezier(.46,.24,.12,1.01);
}
.bodyColumn .linkIcon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s cubic-bezier(.46,.24,.12,1.01);
}
.svgActive{
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translateY(-50%);
  transition: 0.1s cubic-bezier(.46,.24,.12,1.01);
}
.linkActive{
  position: absolute;
  left: -18px;
  top: -18px;
  background-color: var(--bg);
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  z-index: 100;
  cursor: pointer;
  transition: 0.1s cubic-bezier(.46,.24,.12,1.01);
}
.linkText{
  opacity: 0;
}
.linkText .linkTextActive{
  opacity: 1;
}
.bodyColumn .cardBorder{
  width: 130%;
  height: 100%;
}
.bodyColumn img{
  border-radius: 25px;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgH1{
  position: absolute;
  margin: 0;
  z-index: 4;
  top: 14%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-size: 1.5rem;
  text-wrap: nowrap;
  color: white;
}
.imgH2{
  position: absolute;
  margin: 0;
  z-index: 4;
  bottom: 14%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-size: 1.5rem;
  text-wrap: nowrap;
  color: white;
}
.testBg{
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  backdrop-filter: blur(80px) saturate(180%);
  -webkit-backdrop-filter: blur(80px) saturate(180%);
  z-index: 6;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* SECOND SPONSORS GRID */
.secondSponsorsGrid{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding-top: 4rem;
  width: 100%;
  gap: 2rem;
}
.secondSponsorsGrid card{
  background: var(--bg);
  background: transparent;
  border-radius: 40px;
  aspect-ratio: 2 / 3;
  width: 26%;
  height: auto;
  z-index: 1;
  position: relative;
}
.secondSponsorsGrid .cardLink{
    position: absolute;
      left: -18px;
      top: -18px;
      background-color: var(--bg);
      color: white;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      z-index: 100;
      cursor: pointer;
      transition: 0.1s cubic-bezier(.46, .24, .12, 1.01);
}
.secondSponsorsGrid .linkIcon{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.1s cubic-bezier(.46, .24, .12, 1.01);
}
.secondSponsorsGrid .cardBorder{
    width: 130%;
      height: 100%;
}
.secondSponsorsGrid img{
    border-radius: 25px;
      z-index: 3;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
}






.bodyColumn.column1{
  margin: 10rem 30px 0rem 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 200px;
  background: transparent;
  place-items: center;
}

.bodyColumn.column1 .youtubeVideo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / 2 / 3;
}
.youtubeVideo iframe{
  border-radius: 20px;
}




.bodyColumn.column1 .billFormatTemplate{
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  height: 900px;
  grid-area: 2 / 1 / 3 / 2;
}
.billFormatTemplate iframe{
  display: block;
  width: 100%;
  height: 900px;
}




.bodyColumn.column1 .billPaper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 900px;
  grid-area: 2 / 2 / 3 / 3;
}
.billPaper iframe {
  width: 100%;
  height: 900px;
}



.bodyColumn.column1 .slidePresentation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 900px;
  grid-area: 3 / 1 / 4 / 3;
}
.slidePresentation iframe {
  width: 1000px;
  height: 600px;
}


/* Responsive */
@media (max-width: 768px) {
  .hero-item {
    height: 50vh;
  }
  .overlay h1 {
    font-size: 1.8rem;
  }
}